*{
    margin: 0px;
    padding:0px;
    box-sizing:border-box;
    font-family: "lucida Grande",Verdana,"Microsoft YaHei",sans-serif;
}
ul,li{
    list-style: none;
}
a,a:hover{
    text-decoration: none;
}
body{
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-wrap: break-word;
  word-break: normal;
  background-color: #000;
}
.header-page{
    width: 100%;
    height: 100vh;
    background-color: #000;
    position: relative;
    overflow: hidden;
}
.header-page::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../img/hbg.jpg) no-repeat;
    background-size: cover;
    opacity: .3;
    animation: anim 25s linear infinite ;
}
@keyframes anim{
    50%{
        transform: scale(2);
    }
    100%{
        transform: scale(1);
    }
}
.header-page .page-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    width: 100%;
    max-width: 800px;
    text-align: center;
    padding: 0 40px;
    
}
.header-page .page-content img{
    width: 18vw;
    display: block;
    margin: 0 auto;
}
.header-page .page-content h1{
    color: #f45a28;
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: 900;
    margin-bottom: 20px;
}
.header-page .page-content p{
    color:#fff;
    margin-bottom: 20px;
    font-size: 4rem;
}
.header-page .page-content a{
    display: inline-block;
    color:#f45a28;
    border: 2px solid #f45a28;
    text-transform: uppercase;
    padding:10px 20px;
    transition: 0.4s linear;
}
.header-page .page-content a:hover{
    color:#fff;
    background-color: #f45a28;
}
.about-page{
    background-color: #000;
    position: relative;
    overflow: hidden;
}
.about-page .about-text{
    margin: 0 auto;
    color: #fff;
    padding: 30px 0px;
    position: relative;
}
.about-page .about-text img{
    display: block;
    width: 100%;
    border-radius: 5px;
}
.about-page .about-text h2{
    color: #f45a28;
    font-size: 4rem;
    margin-bottom: 18px;
}
.about-page .about-text p{
    display: block;
    font-size: 1.5rem;
    line-height: 3rem;
    margin-bottom: 18px;
}
.about-page .about-text a{
    display: inline-block;
    color:#f45a28;
    border: 2px solid #f45a28;
    text-transform: uppercase;
    padding:10px 20px;
    transition: 0.4s linear;
}
.about-page .about-text a:hover{
    color:#fff;
    background-color: #f45a28;
}

.theme-page{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.theme-page video{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    z-index: -100;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}
.theme-page .theme-text{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    text-align: center;
    color: #fff;
}
/*第四行*/
.features-wrapper{
    padding-bottom:30px;
    background-color: #272727;

}
.features-wrapper .f_bt{
    color: #f45a28;
    font-size: 4rem;
    margin-bottom: 18px;
    text-align: center;
    margin: 20px 0px;
}
.text-center {
    text-align: center;
}
.featured-icon-box {
    padding: 40px 20px 31px;
    position: relative;
    background: #131313;
    border-radius: 5px;
    height: 370px;
    transition: 0.2s linear;
}
.featured-icon-box:hover{    
    box-shadow: 0 0 15px rgba(255, 207, 110, 0.4);
}
.featured-icon-box .featured-icon {
    height: 72px;
    width: 72px;
    line-height: 72px;
    color: #fff;
    background-color: rgba(0,0,0,0.3);
    margin: 0 auto;
    font-size: 25px;
    border-radius: 50%;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    position: relative;
    z-index: 0;
}
.featured-icon-box .featured-icon:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #f1f1f1;
    content: '';
    z-index: -1;
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}
.featured-box .featured-icon-box:hover .featured-icon:after {
    visibility: visible;
    opacity: 1;
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}
.featured-box .featured-icon-box:hover .featured-icon {
    color: #f47425;
}
.featured-icon img{
    width: 40px;
    vertical-align: -12px;
}
.featured-icon-box .featured-content {
    padding-top: 14px;
}
.featured-title{
    height: 66px;
}
.featured-title h5 {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 10px;
    color: #f45a28;
}
.featured-desc p {
    color: #797979;
    line-height: 1.7em;
    font-size: 1rem;
    margin-bottom: 10px;
}
.featured-icon-box .featured-content a {
    color: #f47425;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    bottom: 0px;
}
.box-shadow2 {
    -webkit-box-shadow: 0 0 25px 0 rgba(41,61,88,.06);
    -moz-box-shadow: 0 0 25px 0 rgba(41,61,88,.06);
    box-shadow: 0 0 25px 0 rgba(41,61,88,.06);
}

/*第五行*/
.service-section-s2{    
    background-image: url(../img/fbg2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment:fixed;

}
.service-section-s2 .f_wk{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}
.service-section-s2 .service-grids {
    margin: 0 -15px;
    margin-top: 25px;
}
.section-title-s2 h2{
    color: #f45a28;
    font-size: 4rem;
    margin-bottom: 18px;
    text-align: center;
    margin: 20px 0px;
}
.service-section-s2 .service-grids .grid {
    width: calc(33.33% - 30px);
    float: left;
    margin: 0 15px 40px;
    padding: 25px 30px 30px;
    position: relative;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 25px 0 rgba(41,61,88,.06);
    -moz-box-shadow: 0 0 25px 0 rgba(41,61,88,.06);
    box-shadow: 0 0 25px 0 rgba(41,61,88,.06);
    transition: all .3s ease 0s;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    height: 250px;
}
.service-section-s2 .service-grids .grid img{
    width: 50px;
}
.service-section-s2 .service-grids .grid:hover {
    -webkit-box-shadow: 0 0 15px rgba(255, 207, 110, 0.4);
    -moz-box-shadow: 0 0 15px rgba(255, 207, 110, 0.4);
    box-shadow: 0 0 15px rgba(255, 207, 110, 0.4);
}
.service-section-s2 .grid .icon {
    position: inherit;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: rgba(68, 67, 67, 0.6);
    text-align: center;
    margin: 0 0 15px;
    font-size: 30px;
    line-height: 75px;
    color: #f47425;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    position: relative;
    z-index: 0;
}
.service-section-s2 .grid .icon:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #ffffff;
    content: '';
    z-index: -1;
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}
.service-section-s2 .grid:hover .icon:after {
    visibility: visible;
    opacity: 1;
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}
.service-section-s2 .grid h3 {
    font-size: 1.6rem;
    line-height: 1.3em;
    margin: 0 0 .7em;
}
.service-section-s2 .grid h3 a {
    color: #f45a28;
}
.service-section-s2 .grid p {
    font-size: 15px;
    font-size: .9375rem;
    margin: 0;
    color: #fff;
}


/*第六行*/
.care-about .cb_top h2 {
    color: #f45a28;
    font-size: 4rem;
    margin-bottom: 18px;
    text-align: center;
    margin: 20px 0px;
}
.care-about .cb_top{
    margin: 30px 0px;
}
.care-about .cb_main{
    width: calc(33.33% - 30px);
    float: left;
    margin: 0 15px 40px;
    position: relative;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 25px 0 rgba(41,61,88,.06);
    -moz-box-shadow: 0 0 25px 0 rgba(41,61,88,.06);
    box-shadow: 0 0 25px 0 rgba(41,61,88,.06);
    transition: all .3s ease 0s;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    border-radius: 5px;
    cursor: pointer;
}
.care-about .cb_main .cb_img{
    width: 100%;
    height: 240px;
    overflow: hidden;
    transition: 0.6s linear;
}
.care-about .cb_main .cb_img img{
    width: 100%;
    transition: 0.6s linear;
    opacity: 0.6;
}
.care-about .cb_main .cb_content{
    width: 100%;
    padding: 10px 20px;
    background: #efefef;
}
.care-about .cb_main .cb_content h3{
    font-size: 2.3rem;
    line-height: 2.6em;
    margin: auto;
    text-align: center;
}
.care-about .cb_main .cb_content h3 a{
    color: #f45a28;
}
.care-about .cb_main:hover .cb_img img{
    transform: scale(1.5);
    opacity: 1;
}

/*测试行*/
.clearfix::after{
    clear:both;
    content:".";
    display:block;
    height:0;
    visibility:hidden
}
.trade-content{
    background-color: #272727;
    width: 100%;
    padding:30px;
}
.trade-content .f_bt{
    color: #f45a28;
    font-size: 4rem;
    margin-bottom: 18px;
    text-align: center;
    margin: 0px 0px 30px 0px;
}
.trade-title{
    font-size:24px;color:#333;text-align:center;margin:50px 0;position:relative
}
.trade-title:before{content:"";position:absolute;width:0;height:0;bottom:-19px;left:50%;transform:translateX(-50%);border:6px solid;border-color:#20b09f transparent transparent}
.trade-title:after{content:"";position:absolute;width:52px;height:3px;background-color:#20b09f;bottom:-8px;left:50%;transform:translateX(-50%)}
.trade-black{

}
.trade-box{width:1200px!important;margin:0 auto;position:relative;transition:all .3s ease}
.trade-box-list{display:flex;flex-direction:row;justify-content:center;align-items:center}
.trade-box-item{flex:1;text-align:center;position:relative;height:400px;background:no-repeat center;background-size:100% auto}
.trade-content .trade-box-item:before{content:"";position:absolute;width:100%;height:100%;left:0;top:0;background-color:rgba(0,0,0,.6);transition:all .4s cubic-bezier(.4,0,.2,1)}
.trade-box-item a{position:absolute;width:100%;height:100%;left:0;top:0}
a,button,input,textarea{-webkit-tap-highlight-color:transparent;-moz-transition:all .3s ease;-webkit-transition:all .3s ease;transition:all .3s ease}
.item-logo{margin:0 auto;display:block}
.trade-content .trade-box-item .item-logo{position:relative;margin-top:120px;transition:all .4s cubic-bezier(.4,0,.2,1)}
.item-logo img{
    display: block;
    margin: 0 auto;
    max-width: 20%;
}
.item-title{
    font-size: 1.7rem;
    color: #ffffff;
    padding: 20px 0;
    position: relative;
}
.trade-content .item-title:before{content:"";position:relative;display:block;width:20px;border-bottom:2px solid #fff;margin:0 auto 20px;transition:all .4s cubic-bezier(.4,0,.2,1)}
.item-text{position:relative;transition:all .4s cubic-bezier(.4,0,.2,1);opacity:0;margin-top:10px}
.item-text p{
    color: #fff;
    font-size: 1rem;
    margin-bottom: 5px;
}
.trade-content .item01{background-image:url(../img/r1.jpg)}
.trade-content .item02{background-image:url(../img/r2.png)}
.trade-content .item03{background-image:url(../img/r3.jpg)}
.trade-content .item04{background-image:url(../img/r4.jpg)}
.trade-content .trade-box-item:hover .item-text{
    display:block;
    opacity:1;
    margin-top:0
}
.trade-content .trade-box-item:hover:before{
    background-color: rgba(244, 90, 40,0.6);
}
.trade-content .trade-box-item:hover .item-logo{
    margin-top:80px
}
.trade-content .trade-box-item:hover .item-title:before{
    opacity:0;margin-bottom:0
}

/*第七行*/
.clearfix::after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
.clearfix {
}
.slide-content {
	padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
}
.slide-title {
	font-size: 48px;
	color: #313131;
	letter-spacing: 5px;
	line-height: 1;
	text-align: center;
}
.slide-links {
	margin-top: 0;
	text-align: center;
}
.slide-links a {
	background-color: #20b573;
	color: #ffffff;
	display: inline-block;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	outline: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	background-color: #20b573;
	color: #ffffff;
	padding: 15px 30px;
	border-radius: 2px;
}
.slide-links a:hover {
	background: #188a57;
	color: #fff;
}
.slide-item-body ul li {
	width: 33.333%;
	float: left;
	display: block;
	height: 200px;
	padding-top: 42px;
	margin-bottom: 30px;
	border: none;
	border-radius: 8px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	height: inherit;
	padding-top: 0;
	border-radius: 0;
	background-color: #f5f5f5;
	color: #000;
	z-index: 10002;
}
.slide-item-body ul li a {
	display: block;
	box-shadow: 0 5px 20px 1px rgba(49, 49, 49, 0.2);
}
.new-img img {
	width: 100%;
	height: auto;
	border: none;
	display: block;
}
.slide-item {
	position: relative;
	margin: 0 auto;/* overflow: hidden; */
}
.slide-item-box {
	padding: 50px 0;
}
.new-body {
	padding: 20px 20px 40px 20px;
}
.new-body-title {
	line-height: 24px;
	font-size: 16px;
	overflow: hidden;
	color: #616161;
	letter-spacing: 1px;
	font-weight: 600;
}
.new-body-text {
	padding-top: 20px;
	height: 92px;
	min-height: 50px;
	line-height: 18px;
	font-size: 12px;
	color: #919191;
	overflow: hidden;
}
.slide-item-body {
	/* padding-top:20px; */
	margin-left: -70px;
}
.slide-item-body ul li {
	margin-left: 15px;
	margin-right: 15px;
	padding-top: 20px;
}
.slide-item-body .tempWrap {
	padding-top: 20px;
	background: #f5f5f5;
}
.slide-item-body ul {
	padding-top: 10px;
	overflow: visible;
}
.slide-item-body ul li:hover {
	-ms-transform: translateY(-10px);
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	-o-transform: translateY(-10px);
	transform: translateY(-10px);
	z-index: 1002;
	position: relative;
	left: 0;
}
.next {
	position: absolute;
	top: 49%;
	z-index: 10;
	cursor: pointer;
	-moz-background-size: 60px;
	-webkit-background-size: 60px;
	background-size: 60px;
	background-position: center;
	background-repeat: no-repeat;
	right: auto;
	left: -157px;
	height: 60px;
	width: 60px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.next-bg {
	background-image: url("../img/btn-fl1.png");
}
.next:hover {
	background-image: url("../img/btn-fl2.png");
}
.prev {
	position: absolute;
	top: 49%;
	z-index: 10;
	cursor: pointer;
	-moz-background-size: 60px;
	-webkit-background-size: 60px;
	background-size: 60px;
	background-position: center;
	background-repeat: no-repeat;
	right: -179px;
	height: 60px;
	width: 60px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.prev-bg {
	background-image: url("../img/btn-fr1.png");
}
.prev-bg:hover {
	background-image: url("../img/btn-fr2.png");
}


.swiper-container {
	margin:0 auto;
	position:relative;
	overflow:hidden;
	direction:ltr;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
	/* Fix of Webkit flickering */
	z-index:1;
}
.swiper-wrapper {
	position:relative;
	width:100%;
	-webkit-transition-property:-webkit-transform, left, top;
	-webkit-transition-duration:0s;
	-webkit-transform:translate3d(0px,0,0);
	-webkit-transition-timing-function:ease;
	
	-moz-transition-property:-moz-transform, left, top;
	-moz-transition-duration:0s;
	-moz-transform:translate3d(0px,0,0);
	-moz-transition-timing-function:ease;
	
	-o-transition-property:-o-transform, left, top;
	-o-transition-duration:0s;
	-o-transform:translate3d(0px,0,0);
	-o-transition-timing-function:ease;
	-o-transform:translate(0px,0px);
	
	-ms-transition-property:-ms-transform, left, top;
	-ms-transition-duration:0s;
	-ms-transform:translate3d(0px,0,0);
	-ms-transition-timing-function:ease;
	
	transition-property:transform, left, top;
	transition-duration:0s;
	transform:translate3d(0px,0,0);
	transition-timing-function:ease;

	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.swiper-free-mode > .swiper-wrapper {
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	margin: 0 auto;
}
.swiper-slide {
	float: left;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
	-ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
	-ms-touch-action: pan-x;
}
#youdaoBanner{
	margin-top:20px;
	height:326px;
	position:relative;
}
#youdaoBanner .swiper-slide{
	width: 480px;
	padding:0 30px;
	position:relative;
}
#youdaoBanner .swiper-slide .bg{
	height: 326px;
	background-repeat: no-repeat;
    background-position: center top;
	position:relative;
	overflow:hidden;
	}
#youdaoBanner .swiper-slide .white-top{
	background:url(../images/white-top.png);
	position:absolute;
	z-index:900;
	top:0;
	left:0;
	width:100%;
	height:8px;
}
#youdaoBanner .swiper-slide .white-bottom{
	background:url(../images/white-bottom.png);
	position:absolute;
	z-index:900;
	bottom:0;
	left:0;
	width:100%;
	height:8px;}
#youdaoBanner .bg .black-mask{
	width:480px;
	height:326px;
	position:absolute;
	z-index:1;
	top:0;
	left:0;
	background:url(../images/black-mask.png);}
#youdaoBanner .bg:hover .black-mask{
	display:none;
}
#youdaoBanner .swiper-button-prev,#youdaoBanner .swiper-button-next{
	position:absolute;
	z-index:999;
	top:50%;
	left:10px;
	margin-top:-30px;
	width: 60px;
    height: 60px;
	background:url(../img/swiper-btn.png);
	cursor:pointer;
	display:none;
}
#youdaoBanner .swiper-button-next{
	background-position:0 -60px;
	left:auto;
	right:10px;}
#youdaoBanner:hover .swiper-button-prev,#youdaoBanner:hover .swiper-button-next{
	display:block;
}
#youdaoBanner .slide1 .bg{background-image:url(../uploads/img01.png);}
#youdaoBanner .slide2 .bg{background-image:url(../uploads/img02.png);}	
#youdaoBanner .slide3 .bg{background-image:url(../uploads/img03.png);}	
#youdaoBanner .slide4 .bg{background-image:url(../uploads/img04.png);}	
#youdaoBanner .slide5 .bg{background-image:url(../uploads/img05.png);}	
#youdaoBanner .slide6 .bg{background-image:url(../uploads/img06.png);}	

#youdaoBanner .swiper-slide .bg:hover{
	background: url(../images/fire.png) #fc6760 340px 210px no-repeat;
	}

#youdaoBanner .info{
	position: absolute;
	padding:30px;
	z-index:999;
    bottom: -149px;
	color:#fff;
	font-size:14px;
	padding-top:30px;
}
#youdaoBanner .info .date{
    font-size: 14px;
    margin-bottom: 16px;
}
#youdaoBanner .info h3{
	margin-bottom: 18px;
}
#youdaoBanner .info h3 a{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
	text-decoration:none;
}
#youdaoBanner .info p{
	text-indent:2em;
}
#youdaoBanner .info .btn{
	margin-top: 40px;
	display:block;
    color: #fff;
    font-size: 16px;
	text-align:center;
	width:106px;
	height:42px;
    line-height: 40px;
	text-decoration:none;
	background:url(../images/link_bg.png) no-repeat;
}
#youdaoBanner .info .btn:hover{
	
	color:#000;
	background:url(../images/link_bg.png) no-repeat left -42px;
}



@media (max-width: 991px){
    .service-section-s2 .service-grids .grid,.care-about .cb_main {
        width: calc(50% - 30px);
    }
    
}
@media (max-width: 767px){
    .service-section-s2 .service-grids .grid,.care-about .cb_main{
        width: calc(100% - 30px);
    }
}
